* {
  box-sizing: border-box;
}

html,
body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/* HEADER */

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  padding: 15px 0;
}
.nav__menu {
  list-style: none;
  display: flex;
  gap: 20px;
}

.menu_link {
  color: black;
  text-decoration: none;
}

.menu_link:hover {
  color: #ff9900;
}

.nav__button {
  display: flex;
  gap: 32px;
}

.btn {
  font-family: "Montserrat", sans-serif;
  border-radius: 4px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  background-color: #ff9900;
  color: white;
  width: 110px;
  height: 46px;
}

.btn:hover {
  color: #000000;
  background-color: #ffffff;
  border-radius: 4px;
  border: 4px solid #bcd0e5;
}

/* MAIN */

.section_product {
  margin-top: 70px;
}

.flex__box {
  gap: 26px;
}

.title__product h1 {
  font-size: 44px;
}

.title__product p {
  font-size: 18px;
  text-align: justify;
  line-height: 1.5;
  margin: 0;
}

.title__product .btn {
  margin-top: 20px;
  width: 180px;
  height: 50px;
}

.section_customers {
  background-image: url(../assets/img/bg.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 74px;
}

.title__costomers {
  margin: 100px 0 50px;
  text-align: center;
}
.title__costomers h2 {
  font-size: 36px;
}

.list_item {
  padding: 0;
  display: flex;
  gap: 40px;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin-bottom: 70px;
}

.list_customers {
  width: 100%;
}

.section_customers .btn {
  display: block;
  margin: 0 auto;
  width: 180px;
  height: 50px;
}

.section_design {
  margin-top: 100px;
}

.title__design {
  width: 532px;
  height: 525px;
}

.title__design h2 {
margin-top: 0;
}

.title__design p {
  text-align: justify;
  line-height: 1.5;
  margin: 0;
  padding-bottom: 30px;
}

.list_design_item {
  padding: 0;
}

.list_item_text {
  list-style: none;
}

.section_managers {
  margin-top: 100px;
}

.list_item_check {
  padding: 0;
}

.list_card img {
  width: 35px;
  height: 35px;
}

.list_card {
  display: flex;
  gap: 30px;
  list-style: none;
}

.title__managers {
  margin: 45px 0 45px;
  width: 505px;
  height: 424px;
}

.title__managers h2 {
margin-top: 0;
}

.title__managers p {
  text-align: justify;
  line-height: 1.5;
  margin: 0;
  padding-bottom: 30px;
}
