* {
  box-sizing: border-box;
}

html, body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}

.container__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__menu {
  list-style: none;
  display: flex;
  gap: 20px;
}

.menu_link {
  color: black;
  text-decoration: none;
}

.menu_link:hover {
  color: #ff9900;
}

.nav__button {
  display: flex;
  gap: 32px;
}

.btn {
  font-family: "Montserrat", sans-serif;
  border-radius: 4px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  background-color: #ff9900;
  color: white;
  width: 110px;
  height: 46px;
}

.btn:hover {
  color: #000000;
  background-color: #ffffff;
  border-radius: 4px;
  border: 4px solid #bcd0e5;
}

.section_product {
  margin-top: 70px;
}

.text_title {
  width: 500px;
}
.text_title h1 {
  font-size: 44px;
}

.text_title p {
  font-size: 18px;
  text-align: justify;
  line-height: 1.5;
  margin: 0;
}

.text_title .btn {
  margin-top: 20px;
  width: 180px;
  height: 50px;
}

.section_customers {
  margin-top: 70px;
}
.section_customers h2 {
  font-size: 36px;
  text-align: center;
}

.list_item {
  margin: 60px 0 70px;
  padding: 0;
  display: flex;
  gap: 40px;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.list_customers {
  width: 100%;
}

.section_customers .btn {
  display: block;
  margin: 0 auto;
  width: 180px;
  height: 50px;
}
